body
{
    background-color: #deedf0;
}
#box
{
    display: flex;
    flex-wrap:  wrap;
    flex-direction: row;
    width: 500px;
    margin: auto;
    margin-top: 100px;
    border: 5px solid black;
    margin-bottom: 5px;
}

.result
{
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: xx-large;
}
.set
{
    width: 48%;
    height: 50px;
    text-align: center;
    font-size: x-large;
}
.btn
{
    width: 125px;
    height: 125px;
    font-size: xx-large;
}
#equal
{
    width: 375px;
    height: 125px;
    font-size: xx-large;
    
}
h1{
    font-size: 4rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: chartreuse;
}

